<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main page</title>
</head>
<body>
<fieldset>
  <legend>Контактная информация</legend>
  <label>Имя<input type="text" required></label>
  <label>Фамилия<input type="text" required></label>
  <label>Отчество<input type="text" required></label>
  <label>Пол<input type="text" required></label>
  <label>Дата рождения<input type="text" required></label>
  <label>Должность<input type="text" required></label>
  <button type="submit">Отправить</button>
</fieldset>
<a href="/delete.html"> Delete User </a>
</body>
</html>
